body{
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  color: white;
  height: 70px;
}

.brand {
  width: 40%;
  height: 70px;
  float: left;
  text-align: center;
}

.About_Right {
  width: 60%;
  text-align: center;
  float: right;
  height: 70px;
}

h1 {
  line-height: 45px;
}

a {
  color: white;
  margin-right: 50px;
  line-height: 80px;
}

.Aboutleft_image {
  width: 40%;
  text-align: center;
  height: 400px;
  float: left;
}

.Right_sec {
  width: 60%;
  float: right;
  height: 400px;
}

.col3 {
  float: left;
  width: 25%;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

img {
  border-radius: 50%;
  margin-top: 150px;
}

.info {
  margin-top: 150px;
}

.About_mainMid {
  width: 100%;
  text-align: center;
}

.footer {
  text-align: center;
  color: white;
  background-color: black;
  height: 120px;
  padding: 10px;
  line-height: 40px;
  font-size: x-large;
}
.sum_tag{
  background-color: bisque;
  border-radius: 6px;
  border: 2px solid black;
  font-size: 30px;
  width: 150px;
}
footer {
  text-align: center;
  color: white;
  background-color: black;
  height: 120px;
  padding: 10px;
  line-height: 40px;
  font-size: x-large;
  top: 10px;
}
details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  font-size: 40px;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}